<div class="hero-unit">
	<h1>Welcome to One Month Rails!</h1>
	<p>
		You found the home page for the
		<%= link_to "One Month Rails", "http://onemonthrails.com"%>
		application.
	</p>
	<p> 
		<a href="#", class="btn btn-primary btn-large">Sign Up Now!</a>
	</p>

</div>